@import url("https://fonts.googleapis.com/css2?family=Almarai&family=Bebas+Neue&family=Cairo:wght@300&family=Tajawal:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", Arial, Helvetica, sans-serif;
}

nav {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 100;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.svg_hov {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.logo {
  margin: 0 15px 0 0;
}

.svg_hov:hover {
  background: #eee;
}
.logo svg {
  fill: #e60023;
  width: 27px;
  height: 27px;
}

.btn_home_page {
  margin: 0 10px;
}

.btn_home_page button {
  background: #211922;
  width: 150px;
  height: 44px;
  border-radius: 50px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn_home_page button:hover {
  background: #342a35;
}

.bowl_search {
  display: flex;
  flex: 1;
  background: #eee;
  height: 44px;
  border-radius: 50px;
}

.icon_search {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_search svg {
  fill: rgb(90, 90, 90);
}
.input_Search {
  width: calc(100% - 40px);
  height: 100%;
}

.input_Search form {
  height: 100%;
}

.input_Search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-right: 3px;
  font-size: 1.1rem;
}

.options_user {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.options_user .svg_hov {
  margin: 0 5px;
}

.options_user .svg_hov svg {
  fill: rgb(104, 104, 104);
}

.avatar img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

/* main */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 330px);
  gap: 20px;
  justify-content: center;
  margin: 70px auto;
  height: auto !important;
}

.grid-item {
  width: 330px;
  margin-bottom: 40px;
  cursor: zoom-in;
  /* position: relative !important; */
}

.grid-item img {
  width: 100%;
  min-height: 110% !important;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.37);
}

.grid-item:hover img {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.459);
}

.bowl_cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  border-radius: 15px;
}
.grid-item:hover .bowl_cover {
  display: flex;
}

.btn_save {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
  height: 60px;
}

.btn_save button {
  padding: 10px 20px;
  background: red;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}
.btn_save button:hover {
  background: rgb(255, 70, 70);
}

.bottom_option_Card {
  margin-top: auto;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.side_two {
  display: flex;
}
.bowl_icon {
  background: rgba(241, 241, 241, 0.822);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
}

.loader {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  left: 50%;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  display: none;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
}

.loader.active {
  display: flex;
}

.loader svg {
  width: 40px;
  fill: rgb(43, 42, 42);
  height: 40px;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(-360deg);
  }
}
